<%= link_to bookmark_path(current_user.bookmarks.find_by(article_id: article.id)), class: "bookmark", id: "js-bookmark-button-for-article-#{article.id}", method: :delete, remote: true do %>
  <i class="fas fa-star"></i>
  <span class="bookmark-text">お気に入り解除</span>
<% end %> 