.new-article-middle {
  display: flex;
  width: 100vw;
  padding-bottom: 60px;
}

.new-article-main {
  width: calc(100% - 200px);
}

.page-text {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.new-article-wrapper {
  display: flex;
  justify-content: space-around;
  height: calc( 100% - 60px );
}

.error-alert {
  display: flex;
  justify-content: center;
}

.error-message {
  margin-top: 5px;
  letter-spacing: 0.1em;
}

.field_with_errors {
  display: contents;
}

.new-article-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-bottom: 60px;
}

.new-article-category,
.new-article-title,
.new-article-text,
.new-article-post {
  margin-top: 4%;
}

.new-article-title,
.new-article-text{
  border: none;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

.new-article-category {
  width: 10%;
}

.new-article-title {
  height: 50px;
  font-size: 30px;
  padding: 5px;
  font-weight: bold;
}

.new-article-text {
  height: 50%;
  font-size: 30px;
  padding: 5px;
}

.new-article-post {
  width: 100px;
  height: 30px;
  margin: 50px auto 0;
  border: 1px solid white;
  background-color: lightblue;
  color: white;
  text-decoration: none;
  text-align: center;
}