.new-article-middle {
  display: flex;
  width: 100vw;
  padding-bottom: 60px;
}

.new-article-main {
  width: calc(100% - 200px);
}

.page-text {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 3px 2px 2px #676363;
}

.new-article-wrapper {
  display: flex;
  justify-content: space-around;
  height: calc( 100% - 60px );
}

.error-alert {
  display: flex;
  justify-content: center;
}

.error-message {
  margin-top: 5px;
  letter-spacing: 0.1em;
}

.field_with_errors {
  display: contents;
}

.new-article-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-bottom: 60px;
}

#image-area{
  position: relative;
  height: 30%;
}

#drop-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: auto;
  color: white
}

#image-list {
  display: flex;
  height: 80%;
}

#image-element {
  width: 20%;
  height: 100%;
  margin-right: 1%;
}

#blob-image {
  width: 100%;
  height: 100%;
}

#input-list {
  position: relative;
  margin-top: 1%;
}

.article_image_input {
  position: absolute;
  left: 0px;
  color: rgba(0,0,0,0);
}

#article_image_-1{
  color: rgba(0,0,0,0);
}

.new-article-category,
.new-article-title,
.new-article-text,
.new-article-post {
  margin-top: 4%;
}

.new-article-title,
.new-article-text{
  border: none;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

.new-article-category {
  width: 15%;
  border-radius: 9px;
}

.new-article-title {
  height: 50px;
  font-size: 30px;
  padding: 5px;
  font-weight: bold;
  border-radius: 9px;
}

.new-article-text {
  height: 50%;
  font-size: 30px;
  padding: 5px;
  border-radius: 9px;
}

.new-article-post {
  width: 100px;
  height: 30px;
  margin: 50px auto 0;
  border: 1px solid white;
  background-color: lightblue;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 9px;
}