.new-article-middle {
  display: flex;
  width: 100vw;
  height: calc(100vh - 110px);
}

.new-article-side {
  width: 250px;
  background-color: bisque;
}

.new-article-main {
  width: calc(100% - 250px);
  height: 100%;
  overflow: scroll;
}

.new-article-wrapper{
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.new-article-form {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.new-article-image,
.new-article-category,
.new-article-title,
.new-article-text,
.new-article-post {
  display: block;
  margin: 25px;
}

.new-article-title,
.new-article-text{
  border: none;
}

.new-article-title,
.new-article-text {
  padding: 10px;
  width: 90%;
}

.new-article-post {
  width: 150px;
  padding: 10px;
  border: 1px solid white;
  background-color: lightblue;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 0 auto 50px;
}

.new-article-text {
  height: 90%; 
}