<%= render "shared/header" %>

<div class="middle">
  <div class="side">
  </div>
  <div class="main">
    
    <% render partial: "articles", collection: @articles %>

  </div>
</div>

<%= render "shared/footer" %>