<%= render "shared/header" %>

  <div class="new-article-middle">
    <div class="new-article-side">
    </div>
    <div class="new-article-main">
      
    </div>
  </div>

<%= render "shared/footer" %>