header {
  display: flex;
  height: 50px;
  width: 100vw;
  border-bottom: rgb(240, 234, 234) solid 3px;
}

.user-page-header {
  display: flex;
  height: 50px;
  width: 100vw;
  border-bottom: rgb(240, 234, 234) solid 3px;
}

.original-icon-user
{
  width: 20%;
  margin-left: 5%;
}

.original-icon-user img,
.original-icon-user a {
  height: 100%;
  width: 100%;
}

.original-icon {
  width: 14%;
  margin-left: 1%;
  padding: 5px;
}
.original-icon a,
.original-icon img{
  height: 100%;
  width:  100%;
}

.nav {
  display: flex;
  height: 100%;
  width: 86%;
  align-items: center;
}

.search-area {
  margin-left: 30%;
}

.search-keyword,
.search-btn,
.search-category select {
  font-family: Makinas-4-Square;
}


.nav-right {
  display: flex;
  align-items: center;
  margin-left: 20%;
}

.new-article,
.new-article a{
  text-decoration: none;
  font-size: 25px;
  height: 80%;
  width: 10%;
  margin-right: 50px;
  font-family: Makinas-4-Square;

}

.user-nickname-text,
.user-nickname-text a{
  text-decoration: none;
  font-family: Makinas-4-Square;
  margin-bottom: 10%;
}

.signin,
.signin a,
.signup,
.signup a,
.signout,
.signout a{
  margin-top: 10px;
  font-family: Makinas-4-Square;
  text-decoration: none;
  margin-right: 20px;
}
