.edit-article-side,
.new-article-side,
.user-side,
.side {
  width: 200px;
  border-right: rgb(240, 234, 234) solid 5px;
}

.show-article-side {
  width: 15%;
  z-index: 1;
}

.categories {
  width: 100%;
  height: 100%;
  border-right: rgb(240, 234, 234) solid 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 10%;
}

@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-15%);
  }
  
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

@keyframes fade-Out {
  0% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
  
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-15%);
  }
}

.show-categories {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  visibility: hidden;
  width: 100%;
  height: 100%;
  border-right: rgb(240, 232, 232) solid 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.category a,
.category {
  text-decoration: none;
  font-size: 25px;
  margin: 10px;
}