.edit-article-side,
.show-article-side,
.user-side,
.new-article-side,
.side {
  border-right: rgb(240, 232, 232) solid 3px;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category a,
.category {
  text-decoration: none;
  font-size: 25px;
  font-family: Makinas-4-Square;
  margin: 10px;
}