/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a:hover {
  color: gray;
}

.page-text,
a {
  color:black;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

@font-face {
  font-family: 'makinas-lite';
  src: url('makinas-lite.woff') format("woff"),
       url('makinas-lite.woff2') format('woff2'); 
} 

.page-text,
.error-message,
.edit-article-post,
.article-category a,
.article-category,
.article-nickname,
.article-nickname a,
.new-article-post,
.show-article-image,
.show-article-category,
.show-article-nickname,
.show-to-toppage,
.new-article,
.new-article a,
.user-nickname-text,
.user-nickname-text a,
.signin,
.signin a,
.signup,
.signup a,
.signout,
.signout a,
.category a,
.category,
.user-page-text,
.user-article-image,
.user-article-category a,
.user-article-nickname a,
.user-article-edit,
.user-article-destroy,
.user-article-category,
.search-keyword,
.search-btn,
.search-category select {
  font-family: 'makinas-lite';
}

.new-article-title,
.new-article-text,
.edit-article-title,
.edit-article-text,
.article-title,
.show-article-title,
.show-article-text,
.user-article-title {
  font-family: HiraMaruProN-W4;
}


.session-middle,
.registration-middle,
.edit-article-main,
.new-article-main,
.show-article-middle,
.main,
.user-main {
  background-image: url("cork-board.png");
}

.article-content,
.user-article-content,
.show-article-content {
  background-image: url("notebook.png");
}




