.show-user-middle {
  display: flex;
  width: 100vw;
  height: calc(100vh - 170px);
}

.show-user-side {
  width: 250px;
  height: 100%;
  background-color: bisque;
}

.show-user-main {
  width: calc(100% - 250px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.show-user-nickname {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

.articles-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: scroll;
  padding: 20px;
}

.articles-content {
  width: calc((100% - 60px) / 3 );
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}

.articles-image,
.articles-title,
.articles-category,
.articles-nickname {
  text-decoration: none;
}


.articles-image {
  width: 100%;
  height: 40%;
  margin-bottom: 5px;
}

.articles-title{
  margin-bottom: 10px;
  font-size: 30px;
}

.articles-category {
  margin-bottom: 10px;
  font-size: 15px;
}

.articles-nickname {
  margin-bottom: 10px;
  font-size: 15px;  
}

.articles-ope {
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}

.articles-edit {
  text-decoration: none;
}

.articles-destroy {
  text-decoration: none;
}
