.user-middle {
  display: flex;
  width: 100vw;
  padding-bottom: 60px;
  height: calc( 100% - 130px );
}

.user-main {
  width: calc( 100% - 200px );
  height: 100%;
}

.user-page-text {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 3px 2px 2px #676363;
}

.user-article-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; 
  padding: 20px;
  height: 100%;
}

.user-article-edit,
.user-article-destroy{
  text-decoration: none;
}

/* .user-article-content {
  position: relative;
  animation-name: contents-fade-in;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  width: calc((100% - 250px) / 4 );
  height: 10%;
  margin-bottom: 5%;
  padding: 20px;
  border-bottom: solid 6px rgb(170, 168, 168);
  box-shadow: 4px 4px 8px;
  border-radius: 9px;
  overflow: hidden;
}

.user-article-image,
.user-article-title,
.user-article-category a,
.user-article-nickname a,
.user-article-edit,
.user-article-destroy{
  text-decoration: none;
}


.user-article-image {
  width: 100%;
  height: 210px;
  margin-bottom: 5px;
  object-fit: cover;
}

.user-article-title,
.user-article-title a{
  margin-bottom: 10px;
  font-size: 30px;
  height: 10%;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.user-article-category {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  color: rgb(105, 103, 103);
  white-space: nowrap;
  overflow: hidden;
}

.user-article-nickname {
  margin-bottom: 10px;
  font-size: 15px;
  color: rgb(105, 103, 103);  
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 600px) {
  .user-article-image {
    height: 150px;
  }
}
@media (max-width: 1100px) {
  .user-article-content {
    width: 400px;
  }
}

@media (min-width: 1101px) and  (max-width: 1300px) {
  .user-article-content {
    width: calc((100% - 200px) / 2 );
  }
}

@media (min-width: 1301px) and (max-width: 1500px) {
  .user-article-content {
    width: calc((100% - 200px) / 3 );
  }
} */